* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
}

:root {
    --primary-color: #eb155c;
    --light-color: #f5f5f5;
    --dark-color: #000;
    --dark-color1: #1e1e1e;
    --dark-color2: #000000da;
    --color-font: #5f5f5f;
    --color-line: #303030;
    --border: 8px;
    --font-size-title: 3rem;
    --font-size-title2: 2rem;
    --font-size: 1.5rem;
    --font-size1: 1.2rem;
    --font-size2: 1rem;
    --font-size3: 0.7rem;
    --font-size4: 0.9rem;
    --transition: all 0.5s ease;
}

body {
    background: var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-color);
    overflow: hidden;
}

/* style-index */
#hero-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/img/fundo-index.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-top-index {
    display: flex;
    margin: 15px;
}

#logo-top-index img {
    display: flex;
    width: 40px;
}

#presentation {
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
    align-items: center;
}

#presentation h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

#presentation p {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: var(--font-size1);
    font-weight: 600;
}

#ctn-wrapper {
    position: fixed;
    bottom: 0;
}

#wrapper {
    width: 100vw;
    height: 430px;
    padding: 30px 40px;
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 0px 1px var(--color-line);
    color: var(--light-color);
}

#logo-index {
    display: flex;
    justify-content: end;
}

#logo-index img {
    display: flex;
    width: 50px;
}

#wrapper h2 {
    margin-top: 15px;
    font-size: var(--font-size);
    font-weight: 200;
    text-align: center;
}

#wrapper .input-box {
    width: 100%;
    height: 35px;
    position: relative;
    margin: 30px 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    background: #0000007e;
    backdrop-filter: blur(7px);
    outline: none;
    border: 1px solid #f5f5f565;
    border-radius: 40px;
    font-size: var(--font-size3);
    color: var(--light-color);
}

.input-box input::placeholder {
    color: var(--light-color);
}

.input-box i {
    color: var(--light-color);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

#wrapper #remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size3);
    margin: -15px 0px 15px;
}

#remember-forgot label input {
    accent-color: var(--primary-color);
    margin-right: 3px;
}

#remember-forgot a {
    color: var(--light-color);
    text-decoration: none;
}

#remember-forgot a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

#wrapper #btn {
    width: 100%;
    height: 40px;
    background: var(--light-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 2px #00000065;
    font-size: var(--font-size1);
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    transition: var(--transition);
}

#wrapper #btn:hover {
    background: var(--primary-color);
    color: var(--light-color);
}

#wrapper #register-link {
    text-align: center;
    font-size: var(--font-size2);
    margin: 20px 0px 0px;
}

#wrapper #register-link p a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: 500;
}

#wrapper #register-link p a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* style-all */

#nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px var(--color-line);
    background: var(--dark-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    padding: 10px;
    color: var(--light-color);
    font-size: var(--font-size1);
    cursor: pointer;
}

nav ul li .active {
    color: #a0a0a0;
}

#content {
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.logo img {
    display: flex;
    width: 150px;
}

.logo-home {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.logo-home img {
    display: flex;
    width: 100px;
}

.img-user-header{
    position: fixed;
    top: 15px;
    left: 15px;
}

.img-user-header img{
    display: flex;
    width: 40px;
    border: 1px solid var(--color-line);
    border-radius: 50%;
}

/* style-menu-aside */
#menu-aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -80vw;
    width: 80vw;
    height: 100vh;
    padding: 20px;
    background: var(--dark-color);
    box-shadow: 0px 0px 5px 2px var(--dark-color);
    transition: var(--transition);
    z-index: 1;
}

.ctn-my-profile{
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.my-profile{
    display: flex;
    width: 100%;
}

.my-profile img{
    display: flex;
    width: 50px;
    border-radius: 50%;
}

.ctn-user{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.ctn-user h1 a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    font-size: var(--font-size2);
    font-weight: 600;
}

.ctn-user h2 a{
    display: flex;
    justify-content: start;
    text-decoration: none;
    font-size: var(--font-size4);
    font-weight: 400;
    color: #a0a0a0;
}

.my-profile a{
    justify-content: end;
    color: var(--light-color);
}

.following-followers{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}

.following-followers h2{
    font-size: var(--font-size4);
    font-weight: 500;
}

.links-menu{
    margin-top: 20px;
}

.links-menu nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.links-menu nav ul li a{
    text-decoration: none;
    display: flex;
    width: fit-content;
    font-size: var(--font-size1);
    font-weight: 600;
}

.links-menu nav ul li a span{
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size3);
    font-weight: 600;
    border-radius: 50px;
    padding: 1px 7px;
    background: var(--primary-color);
}

/* style-home */
#feed-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* style-search */
#page-search {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100vh;
    overflow: auto;
}

#page-search::-webkit-scrollbar {
    background: #000;
    width: 5px;
}


#page-search::-webkit-scrollbar-thumb {
    background: #242424;
}

#page-search h2 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: var(--font-size1);
    color: #5f5f5f;
    font-weight: 400;
}

#search {
    display: flex;
    padding: 3px 7px;
    border: 1px solid var(--color-line);
    border-radius: 30px;
}

#search input {
    background: transparent;
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    font-size: var(--font-size2);
    color: var(--light-color);
}

#search button {
    padding: 10px;
    background: transparent;
    color: var(--light-color);
    border: none;
    cursor: pointer;
}

/* style-news */
#feed-news {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    overflow: auto;
}

#feed-news::-webkit-scrollbar {
    background: #000;
    width: 5px;
}


#feed-news::-webkit-scrollbar-thumb {
    background: #242424;
}

#feed-news h1 {
    font-size: var(--font-size1);
    font-weight: 600;
}

#feed-news #subtitle-news {
    margin-top: -10px;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: var(--font-size2);
    font-weight: 500;
    color: #dfdfdf;
}

#feed-news #subtitle-news span {
    font-weight: 600;
}

.post-news {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid var(--color-line);
    border-radius: var(--border);
}

.content-post-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-post-news h1 {
    font-size: var(--font-size);
    font-weight: 700;
}

.content-post-news h2 {
    margin-top: 5px;
    font-size: var(--font-size1);
    font-weight: 500;
}

.content-post-news p {
    display: flex;
    align-items: end;
    height: 100%;
    font-size: var(--font-size3);
    color: #6d6d6d;
    font-weight: 300;
}

.img-post-news {
    display: flex;
    margin-left: 15px;
    width: 120px;
    height: 90px;
    overflow: hidden;
}

.img-post-news img {
    display: flex;
    width: 100%;
    height: fit-content;
}

#ctn-back-top {
    margin-top: 20px;
    margin-bottom: 210px;
    display: flex;
    justify-content: center;
}

#back-top a {
    display: flex;
    width: fit-content;
    padding: 7px 10px;
    border: 1px solid var(--color-line);
    border-radius: 50px;
    background: var(--dark-color1);
    font-size: var(--font-size3);
    font-weight: 600;
    text-decoration: none;
    color: var(--light-color);
}

/* style-chat */
#contacts {
    display: flex;
    flex-direction: column;
}

#contacts h2 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: var(--font-size1);
    color: #5f5f5f;
    font-weight: 400;
}

/* style-profile */
#content-profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

#content-profile::-webkit-scrollbar {
    background: #000;
    width: 5px;
}


#content-profile::-webkit-scrollbar-thumb {
    background: #242424;
}

#profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

#banner-profile {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    overflow: hidden;
}

#banner-profile img {
    display: flex;
    width: 100%;
    height: fit-content;
}

#img-user {
    display: flex;
    justify-content: space-between;
}

#img-user img {
    margin-top: -40px;
    margin-left: 15px;
    display: flex;
    width: 110px;
    border-radius: 50%;
    border: 5px solid var(--dark-color);
}

#links-social {
    margin: 15px;
    display: flex;
    gap: 15px;
}

#links-social a {
    font-size: var(--font-size);
    color: var(--light-color);
}

#user-profile {
    margin-left: 15px;
    margin-top: 15px;
}

#user-profile h1 {
    display: flex;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--light-color);
}

#user-profile h2 {
    margin-top: 3px;
    font-size: var(--font-size1);
    font-weight: 500;
    color: #9b9b9b;
}

#bio {
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
}

#bio h3 {
    font-size: var(--font-size2);
    font-weight: 500;
}

#bio h2 {
    margin-top: 10px;
    font-size: var(--font-size2);
    font-weight: 400;
}

#following-followers {
    margin: 20px;
    display: flex;
    gap: 20px;
}

#following-followers h2 {
    font-size: var(--font-size2);
    font-weight: 400;
}

#following-followers span {
    font-weight: 600;
}

#feed {
    display: flex;
    flex-direction: column;
}

#feed #ctn-back-top {
    margin-top: 40px;
    margin-bottom: 160px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    display: flex;
    width: 35px;
    border-radius: 50%;
}

.ctn-info-user {
    display: flex;
    width: 100vw;
}

.info-user {
    display: flex;
    width: 220px;
    flex-direction: column;
    margin-left: 10px;
}

.info-user h1 a {
    text-decoration: none;
    font-size: var(--font-size2);
    font-weight: 600;
    color: var(--light-color);
}

.info-user h2 a {
    text-decoration: none;
    margin-top: 1px;
    display: flex;
    font-size: var(--font-size4);
    font-weight: 400;
    color: #919191;
}

.conf-post {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.conf-post p {
    font-size: var(--font-size4);
    color: #919191;
}

.conf-post a {
    color: #919191;
    font-size: var(--font-size2);
    cursor: pointer;
}

.card-description {
    margin-top: 15px;
    font-size: var(--font-size3);
    line-height: 23px;
}

.card-description h2 {
    font-weight: 400;
}

.card-description a {
    color: #274483;
}

.img-post {
    margin-top: 7px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 550px;
    overflow: hidden;
    border: 1px solid #0c0c0c;
    border-radius: var(--border);
}

.img-post img {
    display: flex;
    width: 100%;
    height: fit-content;
}